/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide,
	.prelative.container{

	}	
	
}

@media (max-width: 1310px){

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide,
	.prelatife.container,
	.prelative.container{
		padding: 0 25px;
		max-width: 100%;
	}
	header.head.headers .bottoms_head.border_top ul li a{
		font-size: 13px;
	}
	header.head.headers .hdn_top .taglines_head span{
		font-size: 14.5px;
	}
	.logo_heads{
		max-width: 210px;
	}
	header.head.headers .hdn_top ul li a{
		font-size: 13.5px;
	}

	header.head.headers .hdn_top .wa_head, 
	header.head.headers .hdn_top .wa_head a, 
	header.head.headers .hdn_top .wa_head a span, 
	header.head.headers .hdn_top .wa_head span{
		font-size: 14px;
	}

	section.home_blue_content1 .block_tops_banner_filters .backs_banner_right{
		right: -300px;
	}
	
	section.back-greys.middles_home_conts2 .inners_middle h6,
	section.back-greys.middles_home_conts2 .inners_middle p{
		font-size: 13px;
	}
	section.back-greys.middles_home_conts2 .inners_middle h3{
		font-size: 20px;
	}

}

@media (max-width: 1280px){

}

@media (max-width: 1160px){

	header.head.headers .bottoms_head.border_top ul li{
		padding: 0 2.7rem;
	}
	section.home_blue_content1 .block_tops_banner_filters .box-fitlers_cat h2{
		font-size: 24px;
	}
	section.home_blue_content1 .block_tops_banner_filters .box-fitlers_cat form.form-inline input{
		width: 190px;
		letter-spacing: 0;
	}
	section.home_blue_content1 .block_tops_banner_filters .box-fitlers_cat form.form-inline select{
		width: 125px;
		font-size: 13px;
		letter-spacing: 0;
	}
	section.home_blue_content1 .block_tops_banner_filters .box-fitlers_cat form.form-inline button{
		font-size: 15px;
	}
	.lists_item_categorys .items .info p{
		font-size: 12px; line-height: 1.5;
	}
	.outer_block_footer_top .inners h4{
		font-size: 18px;
	}
	.outer_block_footer_top .inners p{
		font-size: 17px;
	}

	footer.foot .sub_footer ul li a{
		font-size: 13px;
	}
	.spaces_footn1{
		display: block;
		clear: both;
		height: 1rem;
	}
	footer.foot p{
		font-size: 11px;
	}
	
}

/* Large desktop */
@media (max-width : 1135px){
	

}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{}

}

@media (max-width : 991px) { 

	.logo_heads{
		padding-top: 0.5rem;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }

}

@media (max-width: 979px) {
	
	header.head.headers .bottoms_head.border_top ul li{
		padding: 0 1.2rem;
	}
	section.home_blue_content1 .block_tops_banner_filters .box-fitlers_cat h2{
		br{
			display: none;
		}
		font-size: 20px;
	}

	section.home_blue_content1 .block_tops_banner_filters .box-fitlers_cat form.form-inline{
		input{
			width: 175px;
			font-size: 12px;
		}
		select{
			font-size: 12px;
		}
	}
	.lists_item_categorys .items .info {
		h4{
			font-size: 14px;
		}
		p{
			line-height: 1.4;
		}
	}

	section.home_blue_content1 .backs_block_widget-category{
		min-height: 370px;
	}
	section.home_blue_content1{
		min-height: 595px;
	}
	.lists_products_defitems .items .infos h5{
		font-size: 12px;
	}
	.lists_products_defitems .items .infos p b, 
	.lists_products_defitems .items .infos p strong{
		font-size: 14px;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		min-height: inherit;
		padding-top: 0rem; 
	}
	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav>li>a{
		padding: 0.25rem 0;
		color: rgba(0,0,0, 0.8) !important;
	}
	
	.navbar-light .navbar-toggler:focus,
	.navbar-light .navbar-toggler:hover{
		outline: none;
		border: 0;
	}
	.navbar-light .navbar-brand{
		max-width: 165px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}
	.prelative.container{
		padding: 0 15px;
	}

	.carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		bottom: inherit;
		background-color: #480505;
		padding: 1.75rem 15px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3{
		font-size: 1.4rem;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p{
		font-size: 13.5px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs{
		margin-bottom: 0;
	}

	section.home_blue_content1 .backs_block_widget-category{
		padding: 1.5rem 1.5rem 0rem !important;

		.lists_item_categorys .items{
			.pict{
				img{
					width: 100%;
				}
				width: 100%;
				max-width: inherit;
			}
		}
	}
	
	section.home_blue_content1{
		background: none;
		background-color: #082954;
		.backs_block_widget-category{
			background-color: #fff;
		}
	}
	section.home_blue_content1 .block_tops_banner_filters{
		.backs_banner_mobiles{
			display: block;
		}
		.row.py-5{
			padding: 1.5rem 0 !important;
		}
		clear: both;
	}

	footer.foot .copyrights_ft{
		text-align: center;
	}

	section.cover-insides{
		min-height: inherit;
		.boxed-text{
			padding: 1rem 0 1.5rem;
		}
	}
	.content-text.insubpage h3{
		font-size: 18px;
	}
	.content-text.insubpage p{
		font-size: 15px;
	}
	section.cover-insides .inners .boxed-text h1{
		font-size: 28px;
	}
	.content-text.insubpage h5, .content-text.insubpage h6,
	section.cover-insides .inners .boxed-text h6{
		font-size: 16px;
	}
	section.cover-insides .inners .boxed-text p{
		font-size: 13px;
	}
	.content-text.insubpage .contacts_info p{
		font-size: 15px;
	}

	section.home_blue_content1.pg_insides .filter_pninside_products form input{
		width: 45%;
		margin-right: 0.5rem;
		font-size: 12px;
		height: 35px;
	}
	section.home_blue_content1.pg_insides .filter_pninside_products form select{
		margin-right: 0.5rem;
		width: 30%;
		font-size: 12px;
		height: 35px;
	}
	section.home_blue_content1.pg_insides .filter_pninside_products form button.btn{
		width: 16%;
	}
	section.home_blue_content1 .backs_block_widget-category .tops .breadcrumbs ol.breadcrumb li.breadcrumb-item, 
	section.home_blue_content1 .backs_block_widget-category .tops .breadcrumbs ol.breadcrumb li.breadcrumb-item a{
		font-size: 13px;
	}
	.tops_prdn_pagelist a.backs_def_p{
		text-align: left;
		display: block;
		padding-top: 0.6rem !important;
		font-size: 13px;
	}
	.boxed_product_details .lisn_thumb_pict{
		margin-bottom: 2rem;
		li{
			margin-bottom: 0.3rem;
		}
	}

	.lists_item_categorys .items .pict span.nods_cream{
		i.fa{
			font-size: 11px;
			margin: 0.3rem 0.55rem;
		}
		width: 25px;
		height: 25px;
	}

	section.home_blue_content1 .backs_block_widget-category .tops h5{
		font-size: 13px;
	}
	section.home_blue_content1 .backs_block_widget-category .tops .views_all_prd{
		font-size: 11px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}