@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900&display=swap');
// font-family: 'Fira Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@firasans : 'Fira Sans', sans-serif;
@roboto : 'Roboto', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #ffffff;
    font-family: @firasans;
}

h1,h2,h3,h4,h5,h6,p, span,a, div{
    font-family: @firasans;
    margin: 0;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: @firasans;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}

.back-whide-def{
    background-color: #f5f5f5;
}
.back-whide-def2{
    background-color: #e4e4e4;
}
.back-orange-def{
    background-color: #ca6d39;
    color: #fff;
}

.btns_viewn_all{
    font-size: 16px;
    font-weight: 700; color: #fff;
    background-color: #00a651;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btns_viewn_all:hover,
.btns_viewn_all:focus{
    text-decoration: none;
    color: #fff;
    background-color: #028642;
}
.blocks_nall{
    max-width: 285px;
}

header.head.headers{ 
    background-color: #fff;
    border-top: 3px solid #a6ce39;
    min-height: 125px; width: 100%;
    height: auto;

    .hdn_top{
        padding-top: 15px;
        height: 84px; overflow: hidden;
        .logo_heads{
            img{}
        }
        .taglines_head{
            span{
                font-size: 17px; font-weight: 700; color: #474747;
            }
        }
        ul{
            li{
                a{
                    font-size: 15px; font-weight: 600; color: #474747;
                }
            }
        }
        .block_separategrey{
            height: 40px; width: 1px;
            background-color: #c8c8c8;
        }
        .wa_head a,
        .wa_head{
            font-size: 15px; font-weight: 700; color: rgba(71, 71, 71, 0.7);
            span{
                font-size: 15px; font-weight: 700; color: rgba(71, 71, 71, 0.7);
            }
            i.fa{
                color: #25d366;
                font-size: 16px;
            }
        }
        .wa_head a:hover,
        .wa_head a:focus{
            text-decoration: none;
            color: #000;
        }
        clear: both;
    }

    .logo_heads{
        img.img.img-fluid{
            // width: 83%;
        }
    }

    .bottoms_head.border_top{
        border-top: 1px solid #dddddd;
        ul{
            li{
                a{
                    font-size: 14px; font-weight: 700; 
                    color: #2a455e;
                }
                height: 39px;
                line-height: 39px;
                margin: 0;
                padding: 0 4.20rem;
                border-right: 1px solid #ddd;
                float: left;
            }
            li:hover,
            li:focus{
                a{
                    color: #1B3852;
                    text-decoration: none;
                }
                background-color: #f3f3f3;
            }

            li:first-child{
                border-left: 1px solid #ddd;   
            }
            margin-bottom: 0;
        }
        clear: both;
    }

    .menu-top{
        padding-top: 0.5rem;
        .list-inline{
            margin: 0 auto;
            text-align: center;
            li{
                margin-right: 0.9rem;
                a{
                    font-family: @firasans;
                    font-size: 14px;color: #fff; font-weight: 700;
                }
            }
            li.active,
            li:hover{
                a{
                    color: #f5f5f5;
                    text-decoration: none;
                }
            }
        }
    }
    .dnx_language{
        padding-top: 0.5rem;
    }

    clear: both;
}

a.btn.btns_mores_defaultred{
    background: none;
    box-shadow: none; border: 0px;

    background-color: #990000;
    padding: 0.35rem 2rem;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.clearfix,
.clear{
    clear: both;
}

section.home_blue_content1{
    background:#fff url('../images/backs_outers_slide_cont1.jpg') repeat-x;
    background-position: top center;
    width: 100%; min-height: 825px; height: auto;
    .block_tops_banner_filters{
        position: relative;
        .box-fitlers_cat{
            h2{
                display: block;
                margin: 0; padding: 0; font-size: 32px; font-weight: 700; color: #fff; line-height: 1.2;
            }
            form.form-inline{
                select,
                input{
                    background-color: #fff;
                    font-size: 14px; font-weight: 400; color: #595959;
                    letter-spacing: 1px;
                    width: 285px;
                }
                select{
                    option{
                        font-size: 14px; font-weight: 400; color: #595959;
                    }
                    width: 153px;
                }
                button{
                    font-size: 16px; font-weight: 700; color: #fff; text-decoration: none;
                    padding-left: 2.2rem; 
                    padding-right: 2.2rem;
                }
            }
            margin-bottom: 1rem;
            clear: both;
            position: relative; z-index: 15;
        }
        .backs_banner_right{
            position: absolute; 
            top: 1px; 
            right: -450px; 
            z-index: 12;
        }
        z-index: 5;
    }
    .backs_block_widget-category{
        position: relative; z-index: 10;
        .tops{
            h5{
                display: block;
                margin: 0; padding: 0; line-height: 1;
                font-size: 15px; font-weight: 700; color: #ca6d39;
            }
            .views_all_prd{
                a{
                    color: #ca6d39; text-decoration: none; padding: 0;
                }
                font-size: 15px; font-weight: 700; color: #ca6d39;
                clear: both;
            }

            .breadcrumbs{
                ol.breadcrumb{
                    li.breadcrumb-item{
                        a{
                            font-size: 15px; font-weight: 700; color: #ca6d39; text-transform: uppercase;
                        }
                        font-size: 15px; font-weight: 700; color: #ca6d39; text-transform: uppercase;
                    }
                    background: none;
                    background-color: none;
                }
                .breadcrumb-item + .breadcrumb-item::before{
                    color: #ca6d39;
                }
                clear: both;
            }
        }

        background: url('../images/backs_inners_cat_home1.jpg') top center repeat-x;
        min-height: 436px; height: auto;
        width: 100%;

        -webkit-box-shadow: 0px -10px 18px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow:    0px -10px 18px 0px rgba(0, 0, 0, 0.45);
        box-shadow:         0px -10px 18px 0px rgba(0, 0, 0, 0.45);
        margin-bottom: 2rem;
        clear: both;
    }
    .backs_block_widget-category:after{
        display: inline-block;
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 35px;
        background-color: #fff;
        z-index: 20;
    }
    clear: both;
}

.lists_item_categorys{
    .items{
        .pict{
            img{}
            span.nods_cream{
                i.fa{
                    font-size: 15px; color: #fff;
                    margin: 0.8rem 1rem;
                }
                background-color: #ca6d39;

                width: 39px; height: 39px;

                position: absolute;
                bottom: 0px; right: 0px; z-index: 22;
            }
            max-width: 260px;
            position: relative;
        }
        .info{
            h4, p{
                display: block;
                margin: 0; padding: 0; line-height: 1.2;
            }
            h4{
                font-size: 17px; font-weight: 700; color: #474747;
                padding-bottom: 0.2rem;
            }
            p{
                font-size: 13px; font-weight: 400; color: #626262;
                line-height: 1.6;
                display: block;
            }
            padding-top: 1.5rem;
        }
        margin-bottom: 2rem;
        clear: both;
    }
    clear: both;
}

section.middles_home_conts3{
    .inners{
        .wiget-tops-title{
            h4{
                margin: 0;
                font-size: 15px; font-weight: 700; color: #ca6d39;
            }
            .backs_andviewall{
                font-size: 15px; font-weight: 700; color: #ca6d39;
                a{
                    color: #ca6d39; text-decoration: none;
                    i.fa{
                        color: #ca6d39; font-size: 15px;
                    }
                    padding: 0;
                }
            }
            clear: both;
        }

        clear: both;
    }
}

section.back-greys.middles_home_conts2{
    .inners_middle{
        h3, h6, p{
            display: block;
            margin: 0; padding: 0; line-height: 1.35;
        }
        h6{
           font-size: 15px; font-weight: 700; color: #474747; 
           text-transform: uppercase;
           padding-bottom: 0.3rem;
        }
        h3{
           font-size: 22px; font-weight: 700; color: #2a455e; 
           padding-bottom: 0.8rem;
        }
        p{
           font-size: 14px; font-weight: 400; color: #474747; 
           a{
            font-weight: 700; color: #ca6d39;
            text-decoration: none;
           }
           a:hover,
           a:focus{
            text-decoration: none;
            color: #ca6d39;
           }
           line-height: 1.6;
        }
        max-width: 755px;
    }
    background-color: #cacaca;
    clear: both;
}

section.middles_home_conts4{
    .inners{
        .wiget-tops-title{
            h4{
                margin: 0;
                font-size: 15px; font-weight: 700; color: #fff;
            }
            .backs_andviewall{
                font-size: 15px; font-weight: 700; color: #fff;
                a{
                    color: #fff; text-decoration: none;
                    i.fa{
                        color: #ca6d39; font-size: 15px;
                    }
                    padding: 0;
                }
            }
            clear: both;
        }

        clear: both;
    }
    clear: both;
}

.lists_products_defitems{
    .items{
        .pict{
            img{
                width: 100%;
            }
        }
        .infos{
            h5, p{
                display: block;
                margin: 0; padding: 0; line-height: 1.2;
            }
            h5{
                font-size: 13px; font-weight: 700; color: #082750;
                padding-bottom: 0.5rem;
            } 
            p{
                b, strong{
                    font-size: 18px; font-weight: 700; color: #010101;
                    text-decoration: inherit;
                }
                font-size: 14px; font-weight: 400; color: #8e8e8e;
                small{
                    font-size: 14px; font-weight: 400; color: #8e8e8e;
                    text-decoration: line-through;
                }
            }

            padding-top: 0.9rem !important;
        }
        margin-bottom: 2.5rem;
    }
    clear: both;
}

.lists_products_defitems.prds_bottom{
    .items{
        .pict{
            img{}
        }
        .infos{
            h5{
                color: #dfdfdf;
            } 
            p{
                color: #dfdfdf;
                b, strong{
                    color: #fff;
                }
                small{
                    color: #fff;
                }
            }
        }
    }
    clear: both;
}

.outer_block_footer_top{
    .inners{
        h4, p{
            display: block;
            margin: 0; padding: 0;
            color: #fff;
        }
        h4{
            font-size: 22px; font-weight: 700;
        }
        p{
            font-size: 20px; font-weight: 400; color: #fff;
            a{
                color: #fff; text-decoration: none;
            }
        }
    }
    min-height: 220px; height: auto;
    background: url('../images/backs_bottom_topFoot.jpg') repeat-x;
    clear: both;
}
.outer_block_footer_top.backs-white{
    background: url('../images/backs_bottom_topFoot-white.jpg') repeat-x;
}
.outer_block_footer_top.backs-white2{
    background: url('../images/backs_bottom_topFoot-white2.jpg') repeat-x;
}

footer.foot{
    width: 100%;
    background-color: #fff;
    min-height: 150px; 
    height: auto;

    font-family: @firasans; font-size: 14px; font-weight: 400; color: #474747;

    .t-copyrights{
        p{
            display: block;
            margin: 0;

            font-family: @firasans;
            font-size: 12px;
            font-weight: 500;
            color: #494949;
            a{
                text-decoration: none;
                color: #2D2D2D;
            }
        }
    }

    .sub_footer{
        span{
            display: block;
            margin: 0; padding: 0; line-height: 1;
            font-size: 13px; font-weight: 700; color: #474747;
        }
        ul{
            li{
                a{
                    font-size: 14px;
                    font-weight: 400;
                    color: #474747;
                }
                padding: 0.1rem 0;
            }
            li:hover,
            li:focus{
                a{
                    text-decoration: none;
                    color: #282828;
                }
            }
            margin: 0; margin-right: 0;
        }

        // padding-bottom: 1.5rem;
    }
    p{
        font-family: @roboto;
        font-size: 12px; font-weight: 400; color: #747474; line-height: 1.45;
    }

    .copyrights_ft{
        p{
            a{
                color: #747474;
            }
            font-family: @roboto;
            font-size: 12px; font-weight: 700; color: #747474;
            color: #747474;
        }
        padding-top: 1rem;
        border-top: 1px solid #dfdfdf;
    }

    clear: both;
}

.back-blacks{
    background-color: #000;
}

.lines-grey{
    background-color: rgba(255,255,255, 0.2);
    height: 1px;
    width: 100%;
}

section.live-chat {
    position: fixed;
    right: 0;
    top: 35%;
}
.nfoot_mob_wa {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    width: 100%;
    background-color: #f5f5f5;
    .nx_button {
        text-align: center;
        padding: 0.5rem 0;
        border-top: 1px solid #ccc;
        a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            i.fa {
                color: green;
            }
        }
    }
}


#back-top {
    color: #FFF;
    background: #FFF;
    font-size: 20px;
    line-height: 100%;
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;
    border: 1px solid #c5c5c5;
    border-right: 0;
    border-bottom: 0;
    display: none;
    i.fa {
        color: #565656;
    }
}

@import 'subpage.less';
@import 'n_media_styles.less';