.cover-insides {
  clear: both;
  position: relative;
}
.cover-insides .inners_cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: table;
  vertical-align: middle;
  text-align: center;
}
.cover-insides .inners_cover .inners_cvr {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
}
.cover-insides .inners_cover .lines-separator-mid {
  width: 86px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}
.cover-insides .inners_cover .texts h1,
.cover-insides .inners_cover .texts p {
  display: block;
  margin: 0;
  padding: 0;
}
.cover-insides .inners_cover .texts h1 {
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  letter-spacing: 2px;
}
.cover-insides .inners_cover .texts p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.about_outer_content {
  background-color: #fff;
}
.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5,
.content-text h6 {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  margin-bottom: 1.3rem;
}
.content-text h2 {
  font-size: 36px;
  font-weight: 700;
  color: #595959;
  margin-bottom: 1.5rem;
}
.content-text h2.cstm {
  font-weight: 400;
}
.content-text h2.cstm strong,
.content-text h2.cstm b {
  font-weight: 700;
}
.content-text h5,
.content-text h6 {
  font-size: 23px;
  font-weight: 400;
  color: #595959;
  text-transform: inherit;
  margin-bottom: 1.5rem;
}
.content-text p {
  font-size: 18px;
  font-weight: 400;
  color: #828282;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.content-text p a {
  color: #828282;
  font-weight: 700;
  text-decoration: underline;
}
.content-text p a:hover,
.content-text p a:focus {
  text-decoration: none;
  color: #6E6E6E;
}
.content-text ul li {
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}
.prelatife {
  position: relative;
}
.outer-blok-black-menuresponss-hides {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7000;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.outer-blok-black-menuresponss-hides .line-separate {
  background-color: #dadada;
  height: 1px;
  width: 200px;
}
.menu-sheader-datals {
  text-align: center;
}
.menu-sheader-datals ul {
  margin: 0px;
  padding: 0px;
}
.menu-sheader-datals ul li {
  padding: 0.1em 0px;
  position: relative;
}
.menu-sheader-datals ul li.separate {
  padding: 0px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  width: 17px;
  height: 1px;
}
.menu-sheader-datals ul li a {
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 700;
  color: #797979;
}
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover {
  color: #797979;
  text-decoration: none;
}
.menu-sheader-datals ul.n_menu2 li a {
  font-weight: 500;
}
.about_outer_content2 {
  width: 100%;
  min-height: 1100px;
  height: auto;
  background: url('../images/new/back-wood-about-1.jpg') no-repeat;
}
.about_outer_content2 .content-text h1,
.about_outer_content2 .content-text h2,
.about_outer_content2 .content-text h3,
.about_outer_content2 .content-text h4,
.about_outer_content2 .content-text h5,
.about_outer_content2 .content-text h6,
.about_outer_content2 .content-text p,
.about_outer_content2 .content-text p > a {
  color: #fff;
}
.about_outer_content2 .content-text ul li {
  color: #fff;
}
.about_outer_content2 .content-text p > b,
.about_outer_content2 .content-text p > strong {
  font-size: 22px;
}
.row.customs {
  margin-right: -10px;
  margin-left: -10px;
}
.row.customs .col-1,
.row.customs .col-2,
.row.customs .col-3,
.row.customs .col-4,
.row.customs .col-5,
.row.customs .col-6,
.row.customs .col-7,
.row.customs .col-8,
.row.customs .col-9,
.row.customs .col-10,
.row.customs .col-11,
.row.customs .col-12,
.row.customs .col-13,
.row.customs .col-14,
.row.customs .col-15,
.row.customs .col-16,
.row.customs .col-17,
.row.customs .col-18,
.row.customs .col-19,
.row.customs .col-20,
.row.customs .col-21,
.row.customs .col-22,
.row.customs .col-23,
.row.customs .col-24,
.row.customs .col-25,
.row.customs .col-26,
.row.customs .col-27,
.row.customs .col-28,
.row.customs .col-29,
.row.customs .col-30,
.row.customs .col-31,
.row.customs .col-32,
.row.customs .col-33,
.row.customs .col-34,
.row.customs .col-35,
.row.customs .col-36,
.row.customs .col-37,
.row.customs .col-38,
.row.customs .col-39,
.row.customs .col-40,
.row.customs .col-41,
.row.customs .col-42,
.row.customs .col-43,
.row.customs .col-44,
.row.customs .col-45,
.row.customs .col-46,
.row.customs .col-47,
.row.customs .col-48,
.row.customs .col-49,
.row.customs .col-50,
.row.customs .col-51,
.row.customs .col-52,
.row.customs .col-53,
.row.customs .col-54,
.row.customs .col-55,
.row.customs .col-56,
.row.customs .col-57,
.row.customs .col-58,
.row.customs .col-59,
.row.customs .col-60,
.row.customs .col,
.row.customs .col-auto,
.row.customs .col-sm-1,
.row.customs .col-sm-2,
.row.customs .col-sm-3,
.row.customs .col-sm-4,
.row.customs .col-sm-5,
.row.customs .col-sm-6,
.row.customs .col-sm-7,
.row.customs .col-sm-8,
.row.customs .col-sm-9,
.row.customs .col-sm-10,
.row.customs .col-sm-11,
.row.customs .col-sm-12,
.row.customs .col-sm-13,
.row.customs .col-sm-14,
.row.customs .col-sm-15,
.row.customs .col-sm-16,
.row.customs .col-sm-17,
.row.customs .col-sm-18,
.row.customs .col-sm-19,
.row.customs .col-sm-20,
.row.customs .col-sm-21,
.row.customs .col-sm-22,
.row.customs .col-sm-23,
.row.customs .col-sm-24,
.row.customs .col-sm-25,
.row.customs .col-sm-26,
.row.customs .col-sm-27,
.row.customs .col-sm-28,
.row.customs .col-sm-29,
.row.customs .col-sm-30,
.row.customs .col-sm-31,
.row.customs .col-sm-32,
.row.customs .col-sm-33,
.row.customs .col-sm-34,
.row.customs .col-sm-35,
.row.customs .col-sm-36,
.row.customs .col-sm-37,
.row.customs .col-sm-38,
.row.customs .col-sm-39,
.row.customs .col-sm-40,
.row.customs .col-sm-41,
.row.customs .col-sm-42,
.row.customs .col-sm-43,
.row.customs .col-sm-44,
.row.customs .col-sm-45,
.row.customs .col-sm-46,
.row.customs .col-sm-47,
.row.customs .col-sm-48,
.row.customs .col-sm-49,
.row.customs .col-sm-50,
.row.customs .col-sm-51,
.row.customs .col-sm-52,
.row.customs .col-sm-53,
.row.customs .col-sm-54,
.row.customs .col-sm-55,
.row.customs .col-sm-56,
.row.customs .col-sm-57,
.row.customs .col-sm-58,
.row.customs .col-sm-59,
.row.customs .col-sm-60,
.row.customs .col-sm,
.row.customs .col-sm-auto,
.row.customs .col-md-1,
.row.customs .col-md-2,
.row.customs .col-md-3,
.row.customs .col-md-4,
.row.customs .col-md-5,
.row.customs .col-md-6,
.row.customs .col-md-7,
.row.customs .col-md-8,
.row.customs .col-md-9,
.row.customs .col-md-10,
.row.customs .col-md-11,
.row.customs .col-md-12,
.row.customs .col-md-13,
.row.customs .col-md-14,
.row.customs .col-md-15,
.row.customs .col-md-16,
.row.customs .col-md-17,
.row.customs .col-md-18,
.row.customs .col-md-19,
.row.customs .col-md-20,
.row.customs .col-md-21,
.row.customs .col-md-22,
.row.customs .col-md-23,
.row.customs .col-md-24,
.row.customs .col-md-25,
.row.customs .col-md-26,
.row.customs .col-md-27,
.row.customs .col-md-28,
.row.customs .col-md-29,
.row.customs .col-md-30,
.row.customs .col-md-31,
.row.customs .col-md-32,
.row.customs .col-md-33,
.row.customs .col-md-34,
.row.customs .col-md-35,
.row.customs .col-md-36,
.row.customs .col-md-37,
.row.customs .col-md-38,
.row.customs .col-md-39,
.row.customs .col-md-40,
.row.customs .col-md-41,
.row.customs .col-md-42,
.row.customs .col-md-43,
.row.customs .col-md-44,
.row.customs .col-md-45,
.row.customs .col-md-46,
.row.customs .col-md-47,
.row.customs .col-md-48,
.row.customs .col-md-49,
.row.customs .col-md-50,
.row.customs .col-md-51,
.row.customs .col-md-52,
.row.customs .col-md-53,
.row.customs .col-md-54,
.row.customs .col-md-55,
.row.customs .col-md-56,
.row.customs .col-md-57,
.row.customs .col-md-58,
.row.customs .col-md-59,
.row.customs .col-md-60,
.row.customs .col-md,
.row.customs .col-md-auto,
.row.customs .col-lg-1,
.row.customs .col-lg-2,
.row.customs .col-lg-3,
.row.customs .col-lg-4,
.row.customs .col-lg-5,
.row.customs .col-lg-6,
.row.customs .col-lg-7,
.row.customs .col-lg-8,
.row.customs .col-lg-9,
.row.customs .col-lg-10,
.row.customs .col-lg-11,
.row.customs .col-lg-12,
.row.customs .col-lg-13,
.row.customs .col-lg-14,
.row.customs .col-lg-15,
.row.customs .col-lg-16,
.row.customs .col-lg-17,
.row.customs .col-lg-18,
.row.customs .col-lg-19,
.row.customs .col-lg-20,
.row.customs .col-lg-21,
.row.customs .col-lg-22,
.row.customs .col-lg-23,
.row.customs .col-lg-24,
.row.customs .col-lg-25,
.row.customs .col-lg-26,
.row.customs .col-lg-27,
.row.customs .col-lg-28,
.row.customs .col-lg-29,
.row.customs .col-lg-30,
.row.customs .col-lg-31,
.row.customs .col-lg-32,
.row.customs .col-lg-33,
.row.customs .col-lg-34,
.row.customs .col-lg-35,
.row.customs .col-lg-36,
.row.customs .col-lg-37,
.row.customs .col-lg-38,
.row.customs .col-lg-39,
.row.customs .col-lg-40,
.row.customs .col-lg-41,
.row.customs .col-lg-42,
.row.customs .col-lg-43,
.row.customs .col-lg-44,
.row.customs .col-lg-45,
.row.customs .col-lg-46,
.row.customs .col-lg-47,
.row.customs .col-lg-48,
.row.customs .col-lg-49,
.row.customs .col-lg-50,
.row.customs .col-lg-51,
.row.customs .col-lg-52,
.row.customs .col-lg-53,
.row.customs .col-lg-54,
.row.customs .col-lg-55,
.row.customs .col-lg-56,
.row.customs .col-lg-57,
.row.customs .col-lg-58,
.row.customs .col-lg-59,
.row.customs .col-lg-60,
.row.customs .col-lg,
.row.customs .col-lg-auto,
.row.customs .col-xl-1,
.row.customs .col-xl-2,
.row.customs .col-xl-3,
.row.customs .col-xl-4,
.row.customs .col-xl-5,
.row.customs .col-xl-6,
.row.customs .col-xl-7,
.row.customs .col-xl-8,
.row.customs .col-xl-9,
.row.customs .col-xl-10,
.row.customs .col-xl-11,
.row.customs .col-xl-12,
.row.customs .col-xl-13,
.row.customs .col-xl-14,
.row.customs .col-xl-15,
.row.customs .col-xl-16,
.row.customs .col-xl-17,
.row.customs .col-xl-18,
.row.customs .col-xl-19,
.row.customs .col-xl-20,
.row.customs .col-xl-21,
.row.customs .col-xl-22,
.row.customs .col-xl-23,
.row.customs .col-xl-24,
.row.customs .col-xl-25,
.row.customs .col-xl-26,
.row.customs .col-xl-27,
.row.customs .col-xl-28,
.row.customs .col-xl-29,
.row.customs .col-xl-30,
.row.customs .col-xl-31,
.row.customs .col-xl-32,
.row.customs .col-xl-33,
.row.customs .col-xl-34,
.row.customs .col-xl-35,
.row.customs .col-xl-36,
.row.customs .col-xl-37,
.row.customs .col-xl-38,
.row.customs .col-xl-39,
.row.customs .col-xl-40,
.row.customs .col-xl-41,
.row.customs .col-xl-42,
.row.customs .col-xl-43,
.row.customs .col-xl-44,
.row.customs .col-xl-45,
.row.customs .col-xl-46,
.row.customs .col-xl-47,
.row.customs .col-xl-48,
.row.customs .col-xl-49,
.row.customs .col-xl-50,
.row.customs .col-xl-51,
.row.customs .col-xl-52,
.row.customs .col-xl-53,
.row.customs .col-xl-54,
.row.customs .col-xl-55,
.row.customs .col-xl-56,
.row.customs .col-xl-57,
.row.customs .col-xl-58,
.row.customs .col-xl-59,
.row.customs .col-xl-60,
.row.customs .col-xl,
.row.customs .col-xl-auto {
  padding: 0 10px;
}
