section.home_blue_content1.pg_insides{
	background:#fff url('../images/backs_top_insides_m2.jpg') repeat-x;
	min-height: 620px; height: auto;
	width: 100%;

	.filter_pninside_products{
		h5{
			display: block;
			margin: 0; padding: 0; line-height: 1;
			font-size: 18px; font-weight: 700; color: #fff;
			margin-bottom: 0.2rem;
		}
		form{
			input, select{
				font-size: 15px; font-weight: 400; color: #595959;
				background-color: #fff;
			}
			input{
				width: 71%;
			}
			select{
				width: 17%;
			}
			button.btn{
				width: 10%;
				background: none; border: 0; outline: none;
				background-color: #00a651;
				font-size: 16px; font-weight: 700; color: #fff;
			}
		}
		clear: both;
	}

	clear: both;
}
.prelatife{
	position: relative;
}
.tops_prdn_pagelist{
	h4{
		display: block;
		margin: 0; padding: 0; line-height: 1;
		font-size: 24px; font-weight: 700; color: #082750;
	}
	a.backs_def_p{
		text-align: right;
		display: block;
		font-size: 15px; font-weight: 700; color: #ca6d39; text-decoration: none;
	}

	clear: both;
}

.boxed_product_details{
	.pictures_bg{
		img{}
	}
	.lisn_thumb_pict{
		ul{
			li{
				img{
					border: 1px solid #cecece;
				}
			}
		}
		clear: both;
	}
	.descriptions.infos{
		table{
			td{
				b,strong{
					font-size: 14px; font-weight: 700; color: #082750; text-transform: uppercase;
				}
				p{
					font-size: 14px; font-weight: 400; color: #4b4b4b;
					margin-bottom: 1.7rem; 
					line-height: 1.75;
				}

				a.btns_def_order,
				button.btns_def_order{
					border: 0; outline: none;
					padding: 0.5rem 2rem;
					font-size: 16px; font-weight: 700; color: #fff;
				}
				.b_green{
					background-color: #00a651;
				}
				.b_orange{
					background-color: #ca6d39;
				}
			}
			margin-bottom: 0;
		}
	}

	.small_rights_info{
		p{
			b,strong{
				font-weight: 700;
				font-size: 12px; color: #082750; text-transform: uppercase;
			}
			font-size: 13px; font-weight: 400; color: #9d9d9d;
		}
		p{
			margin-bottom: 0.6rem;
		}
	}

	clear: both;
}
.blocks_other_prd{
	background-color: #f1f1f1 !important;
}

.content-text{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		margin-bottom: 1.3rem;
	}
	h2{
		font-size: 36px;
		font-weight: 700;
		color: #595959;
		margin-bottom: 1.5rem;
	}
	h2.cstm{
		font-weight: 400;
		strong, b{
			font-weight: 700;
		}
	}
	h5,
	h6{
		font-size: 23px;
		font-weight: 400;
		color: #595959;
		text-transform: inherit;
		margin-bottom: 1.5rem;
	}

	p{
		font-size: 18px;
		font-weight: 400;
		color: #828282;
		line-height: 1.5;
		margin-bottom: 1.5rem;
		a{
			color: #828282;
			font-weight: 700;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #6E6E6E;
		}
	}

	ul{
		li{
			font-size: 16px;
			font-weight: 400;
			color: #828282;
		}
	}

}

.content-text.insubpage{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		margin-bottom: 1.3rem;
	}
	p, span{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.5;
		margin-bottom: 1.6rem;	
	}
	h2,
	h2.title-page{
		font-size: 16px; font-weight: 700; color: #e81932; text-transform: uppercase;
		margin-bottom: 0.8rem;
	}
	h3{
		font-size: 21px;
		font-weight: 700;
		color: #082750;
		text-transform: uppercase;
		line-height: 1.4;
		margin-bottom: 1.6rem;
	}

	h5,
	h6{
		font-size: 20px;
		font-weight: 300;
		color: #595959;
		text-transform: inherit;
		margin-bottom: 2.2rem;
	}

	p{
		font-size: 16px;
		font-weight: 300;
		color: #515151;
		a{
			color: #515151;
			font-weight: 600;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #282828;
		}
	}

	ul{
		li{
			font-size: 16px;
		font-weight: 300;
			color: #515151;
		}
	}

	.contacts_info{		
		p{
			b,strong{
				font-weight: 700; color: #082750; text-transform: uppercase;
			}
			font-size: 18px; font-weight: 300; color: #082750;
			line-height: 1.45; display: block;
			margin: 0;
			margin-bottom: 1.8rem;
			a{
				font-size: 18px; font-weight: 300; color: #082750;
				text-decoration: none;
			}
			a.view_map{
				font-weight: 500;
			}
		}
	}


	.boxed-details_blog{
		max-width: 838px;
		margin: 0 auto;
		display: block;
		h2{
			margin-bottom: 0.5rem;
			font-size: 25px; font-weight: 700; color: #3f3f3f;
		}
		span.dates{
			display: block;
			margin: 0; margin-bottom: 0;
			font-size: 16px; font-weight: 300; color: #3f3f3f;
		}
		clear: both;
	}
	.bx_ntops_red{
		text-align: left;
		h6{
			font-size: 16px; font-weight: 700; color: #e81932; text-transform: uppercase;
		}
		a{
			text-align: right;
			font-size: 16px; font-weight: 700; color: #e81932;
			text-decoration: none;
		}
	}
	
	clear: both;
	// end content insubpage
}



// static page
section.cover-insides{
	.inners{
		.boxed-text{
			h1, h6, p{
				display: block;
				margin: 0; padding: 0; line-height: 1.3;
				margin-bottom: 0;
			}
			h1{
				font-size: 34px; font-weight: 700; color: #fff;
			}
			h6{
				font-size: 18px; font-weight: 700; color: #fff;
			}
			p{
				font-size: 15px; font-weight: 400; color: #dcdcdc;
			}
		}
		.pictures{
			text-align: right;
		}
	}
	background-color: #082750;
	min-height: 308px; max-height: 308px; overflow: hidden;
	height: auto;
}

.lists_blog_data.pg_blog{
	.items{
		.pict{
			img{}
		}
		.info{
			h5{
				margin: 0; display: block;
				font-size: 15px; font-weight: 700; color: #3f3f3f;
				a{
				color: #3f3f3f;
				text-decoration: none;
				}
			}
		}
		clear: both;
	}
}
.blocks_pagination{
	ul.pagination{
		li{
			a{
				font-size: 16px; font-weight: 700; color: #9f9f9f;
			}
			color: #000;
		}
		li.active,
		li:hover,
		li:focus{
			a{
				color: #000;
				background-color: #fff;
				border-color: #dee2e6;
			}
			background-color: #fff;
		}
	}
}

// end static pgae


.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    .line-separate{
    	background-color: #dadada;
    	height: 1px;
    	width: 200px;
    }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.1em 0px; position: relative; }
.menu-sheader-datals ul li.separate{
    padding: 0px; margin: 0 auto;
    background-color: rgba(255,255,255, 0.1);
    width: 17px; height: 1px;
}
.menu-sheader-datals ul li a{ font-size: 20px; letter-spacing: 0px; font-weight: 700; color: #797979; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #797979; text-decoration: none;
}
.menu-sheader-datals ul.n_menu2{
	li{
		a{
			font-weight: 500;
		}
	}
}

.row.customs{
	margin-right: -10px;
	margin-left: -10px;
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col-25, .col-26, .col-27, .col-28, .col-29, .col-30, .col-31, .col-32, .col-33, .col-34, .col-35, .col-36, .col-37, .col-38, .col-39, .col-40, .col-41, .col-42, .col-43, .col-44, .col-45, .col-46, .col-47, .col-48, .col-49, .col-50, .col-51, .col-52, .col-53, .col-54, .col-55, .col-56, .col-57, .col-58, .col-59, .col-60, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-sm-25, .col-sm-26, .col-sm-27, .col-sm-28, .col-sm-29, .col-sm-30, .col-sm-31, .col-sm-32, .col-sm-33, .col-sm-34, .col-sm-35, .col-sm-36, .col-sm-37, .col-sm-38, .col-sm-39, .col-sm-40, .col-sm-41, .col-sm-42, .col-sm-43, .col-sm-44, .col-sm-45, .col-sm-46, .col-sm-47, .col-sm-48, .col-sm-49, .col-sm-50, .col-sm-51, .col-sm-52, .col-sm-53, .col-sm-54, .col-sm-55, .col-sm-56, .col-sm-57, .col-sm-58, .col-sm-59, .col-sm-60, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28, .col-md-29, .col-md-30, .col-md-31, .col-md-32, .col-md-33, .col-md-34, .col-md-35, .col-md-36, .col-md-37, .col-md-38, .col-md-39, .col-md-40, .col-md-41, .col-md-42, .col-md-43, .col-md-44, .col-md-45, .col-md-46, .col-md-47, .col-md-48, .col-md-49, .col-md-50, .col-md-51, .col-md-52, .col-md-53, .col-md-54, .col-md-55, .col-md-56, .col-md-57, .col-md-58, .col-md-59, .col-md-60, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg-25, .col-lg-26, .col-lg-27, .col-lg-28, .col-lg-29, .col-lg-30, .col-lg-31, .col-lg-32, .col-lg-33, .col-lg-34, .col-lg-35, .col-lg-36, .col-lg-37, .col-lg-38, .col-lg-39, .col-lg-40, .col-lg-41, .col-lg-42, .col-lg-43, .col-lg-44, .col-lg-45, .col-lg-46, .col-lg-47, .col-lg-48, .col-lg-49, .col-lg-50, .col-lg-51, .col-lg-52, .col-lg-53, .col-lg-54, .col-lg-55, .col-lg-56, .col-lg-57, .col-lg-58, .col-lg-59, .col-lg-60, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24, .col-xl-25, .col-xl-26, .col-xl-27, .col-xl-28, .col-xl-29, .col-xl-30, .col-xl-31, .col-xl-32, .col-xl-33, .col-xl-34, .col-xl-35, .col-xl-36, .col-xl-37, .col-xl-38, .col-xl-39, .col-xl-40, .col-xl-41, .col-xl-42, .col-xl-43, .col-xl-44, .col-xl-45, .col-xl-46, .col-xl-47, .col-xl-48, .col-xl-49, .col-xl-50, .col-xl-51, .col-xl-52, .col-xl-53, .col-xl-54, .col-xl-55, .col-xl-56, .col-xl-57, .col-xl-58, .col-xl-59, .col-xl-60, .col-xl, .col-xl-auto{
		padding: 0 10px;
	}
}
